quickstart/.vs
quickstart/src/IdentityServer/bin
quickstart/src/IdentityServer/obj
quickstart/src/Api/bin
quickstart/src/Api/obj
quickstart/src/Client - ClientCredentials/bin
quickstart/src/Client - ClientCredentials/obj
quickstart/src/Client - ResourceOwnerPassword/bin
quickstart/src/Client - ResourceOwnerPassword/obj
quickstart/.vs/Quickstart/v15/Server/sqlite3/storage.ide-wal
quickstart/.vs/Quickstart/v15/Server/sqlite3/storage.ide-shm
quickstart/.vs/Quickstart/v15/Server/sqlite3/storage.ide
quickstart/.vs/Quickstart/v15/Server/sqlite3/db.lock